.wraper {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  position: relative;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 2s; */
  transition: all 2s linear 2s;
}
.box {
  width: 150px;
  height: 150px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 2s;
}
.wraper:hover {
  background-color: blueviolet;
}
.box:hover {
  background-color: coral;
  transform: translate(-50%, -50%) rotate(0deg);
}
/* .wraper:hover .box {
    background-color: green;
 } */


 /* animation */
 .image-block {
    /* position: relative; */
    /* height: 200px; */
 }
 .image-car {
    width: 150px;
    /* animation-name: carmovenew;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite; */

    animation: carmovenew 5s infinite 2s linear alternate;

    /* animation-direction: alternate; */
    /* position: absolute; */
}

 /* @keyframes carmove {
    from {left: 0; transform: rotate(0deg);}
    to {left: 600px; transform: rotate(360deg);}
 } */

 @keyframes carmovenew {
    from {transform: translateX(0%);}
    to {transform: translateX(50%);}
 }
/* 
 @keyframes carmove {
    0% {left: 0; transform: rotate(0deg);}
    25% {left: 200px; transform: rotate(0deg);}
    50% {left: 400px; transform: rotate(0deg);}
    75% {left: 600px; transform: rotate(0deg);}
    100% {left: 800px; transform: rotate(-360deg);}
 } */